.App {
  text-align: center;
}

nav{
  float: left;
  display: none;
}

.my-list li{
  margin: 0;
  padding: 0;
  float: left;
  display: flex;
  }
  .my-list li a{
  padding: 1.5em 3em;
  background-color: #0f1da0;
  color: azure;
  text-align: center;
  text-decoration: none;
  display: none;

  }

.container{
  margin-top: 3rem;
    text-align: left;
    padding: 1rem;
    text-align: center;
    background-color: #084c8f;
    color: white;
    width: 100%;
    


}
.container h3{
  text-align: center;
}

.container a{
  color: white;
}

main h2{
  text-align: center;
  color: #fff;
  background-color: #084c8f;
  margin: 5rem;
}
